<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../my-app/my-app.html">
<link rel="import" href="../dm-account/dm-account.html">
<link rel="import" href="../ui-login/ui-login.html">
<!--indica que es un polymer element -->
<dom-module id="ui-register">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h4><font color="blue">{{errorlogin}}</font></h4>

  <!-- <input type="id" placeholder="dni" value="{{id::input}}"/> -->
  <input type="first_name" placeholder="Nombre" value="{{first_name::input}}"/>
  <input type="last_name" placeholder="Apellidos" value="{{last_name::input}}"/>
  <input type="email" placeholder="Email" value="{{email::input}}"/>
  <input type="password" placeholder="Password" value="{{password::input}}"/>
  <button type="button" class="btn btn-primary" on-click="sendEventRegister">Registrase</button>
  <button type="button" class="btn btn-primary" on-click="sendEventVolver">Volver</button>

  <h4><font color="blue">{{mensaje_email}}</font></h4>


  </template>

  <script>
    class UiRegister extends Polymer.Element {
      static get is() { return 'ui-register'; }
      static get properties() {
        return {
        };
      }
      sendEventRegister(e){
        console.log("Pulsado el boton Registrarseeeee" );
        this.dispatchEvent(
          new CustomEvent(
            "myregister",
            {
              "detail" : {
              // "id" : this.id,
                "first_name" : this.first_name,
                "last_name" : this.last_name,
                "email" : this.email,
                "password" : this.password
              }
            }
          )
        );
      }
      sendEventVolver(e){
        console.log("Pulsado el boton Volver");
        this.dispatchEvent(
          new CustomEvent(
            "volverlogin",
            {
             "detail" : {
              "volver" : true
             }
            }
          )
        );
      }

    emailexistente(){
      this.mensaje_email = "El email ya existe en nuestra Base de Datos, seleccione otro email por favor."
    }
    emailcorrecto(){
      this.mensaje_email = "Su usuario se ha creado correctamente.Pulse el boton de volver."
    }




    }
    window.customElements.define(UiRegister.is, UiRegister);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
