<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!--idom-repèat para sacar mass de un elemento en cuentas y sacar lo como array -->
<!--indica que es un polymer element -->
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de cuenta</h2>
  <!--i  <h3>cuenta : {{iban}}</h3>
    <h3>balance : {{balance}}</h3> -->
    <template is="dom-repeat" items="{{accounts}}">
      <span>IBAN: {{item.iban}}</span>
      <br>
      <span>BALANCE: {{item.balance}}</span>
      <br>
      <br>
      <br>
    </template>
    <iron-ajax auto=""
    id="getaccount"
    url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
    handle-as="json"
    on-response="showData">
  <!--  <h3>Soy [[first_name]] [[last_name]]</h3>
    <input type="text" value="{{first_name::input}}"/> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      //Esto es un geter
      static get properties() {
        return {
            id: {
              type: Number
            },
            iban: {
              type: String
            },
            balance: {
              type: Number
            },
            accounts: {
              type : Array
            }
        };
      }
      showData(data){
      console.log("showdata");
      console.log(data.detail.response);
      this.accounts = data.detail.response;


      }
    }
    window.customElements.define(VisorCuenta.is, VisorCuenta);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
