<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--indica que es un polymer element -->
<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Soy [[first_name]] [[last_name]]</h3>
    <h3>y tengo [[age]] años</h3>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    <input type="range" min="18" value="{{age::input}}" max="80"/>
    <!--esto es lo que sale de la funcion FrontproyectoApp -->
    <!--con dos corchetes es ONE WAY . condos llaves es TWO WAYS (pro si quieres recuperar los datos del navegador) -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      //Esto es un geter
      static get properties() {
        return {
          prop1: {
            type: String
          //  value: 'frontproyecto-app'
          },
        /*  first_name: {
            type: String,
            value: "Mikelus"
          },
          last_name: {
            type: String,
            value: "Maiztegui"
          },
          age: {
            type: Number,
            value:42
          }*/
            first_name: {
              type: String
            },
            last_name: {
              type: String
            },
            age: {
              type: Number

            }

        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
