<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../my-app/my-app.html">
<link rel="import" href="../dm-account/dm-account.html">
<link rel="import" href="../api-externa/api-externa.html">

<dom-module id="ui-movi">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h4><font color="blue">{{cabecera}}</font></h4>


    <table class="egt1">
      <tr>

        <th WIDTH="200"><font color="blue">IBAN</font></th>
        <th WIDTH="100"><font color="blue">IMPORTE</font></th>
        <th WIDTH="100"><font color="blue">FECHA</font></th>
        <th WIDTH="400"><font color="blue">CONCEPTO</font></th>
        <th WIDTH="200"></th>
      </tr>
      <tr>
    </table>





    <dom-repeat items="{{movi}}">
        <template>

          <table class="egt">
            <tr>
            <!--  <th WIDTH="200"></th>
              <th WIDTH="200"><font color="blue">IBAN</font></th>
              <th WIDTH="100"><font color="blue">IMPORTE</font></th>
              <th WIDTH="100"><font color="blue">FECHA</font></th>
              <th WIDTH="400"><font color="blue">CONCEPTO</font></th> -->
            </tr>
            <tr>

       <div>  <td WIDTH="200"> <font color="blue">{{item.iban}} </font> <td WIDTH="100"> <font color="blue"> {{item.importe}} </font> <td WIDTH="100"> <font color="blue"> {{item.fecha}} </font>  <td WIDTH="400"> <font color="blue"> {{item.concepto}}  </font> <td WIDTH="200"> <button type="button" class="btn btn-primary" on-click="sendEventLugar">Lugar del movimiento</button> </div>
     </tr>
   </table>
        </template>
      </dom-repeat>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--    <button on-click="sendEventVolver">Volver</button> -->
    <h4><font color="blue"></font></h4>
    <h4><font color="blue"></font></h4>
    <h4><font color="blue"></font></h4>
<button type="button" class="btn btn-primary" on-click="sendEventVolver">Volver</button>
    <!--<button on-click="sendEventAltaMovi">Alta Movimientos</button><button class="btn btn-success" on-click="selectItem">Movimientos</button> -->
      <!--  <h3>My Google Maps Demo</h3>
        <div id="map"></div>  -->

  </template>

  <script>
    class UiMovi extends Polymer.Element {
      static get is() { return 'ui-movi'; }
      //Esto es un geter
      static get properties() {
        return {
        };
      }



    mostrarmovi(detail){
    this.cabecera = "Estos son los movimientos de su cuenta: ";
    console.log ("UIMOVI  mostrarmovi");
    this.movi = detail;
    }

     sendEventVolver(){
       console.log("Volvemos de movimientos");
       this.dispatchEvent(
         new CustomEvent(
           "volveraccount",
           {
            "detail" : {
             "volver" : true

            }
           }
         )
       );
     }

sendEventLugar(){
  window.open("http://127.0.0.1:8081/apiexterna.html",'_blank');
  //window.open("http://127.0.0.1:8081/src/api-externa/api-externa.html",'_blank');
  //window.open(url);
  //window.location.href = "http://127.0.0.1:8081/src/api-externa/api-externa.html";
  console.log("llegamos1");
  this.dispatchEvent(
    new CustomEvent(
      "eventapiexterna",
      {
       "detail" : {
        "volver" : true
       }
      }
    )
  );

}

/*    sendEventAltaMovi(e){
      console.log("sendEventAltaMovisendEventAltaMovis" + e.model.item.iban);
      this.dispatchEvent(
        new CustomEvent(
          "altamovi",
          {
           "detail" : {
            "alta" : true,
            "iban" : e.model.item.iban
           }
          }
        )
      );
    }*/



    }
    window.customElements.define(UiMovi.is, UiMovi);

  </script>
</dom-module>
