<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../ui-login/ui-login.html">
<link rel="import" href="../my-app/my-app.html">
<link rel="import" href="../ui-register/ui-register.html">
<!--indica que es un polymer element -->
<dom-module id="dm-register">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <iron-ajax
    id="doRegister"
    method="POST"
    url="http://localhost:3000/apitechu/v2/register"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponseRegister"
    on-error="showErrorRegister">

  </template>

  <script>
    class DmRegister extends Polymer.Element {
      static get is() { return 'dm-register'; }
      static get properties() {
        return {
          last_name: {
            type : String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          first_name:{
            type: String
          }
        }
      };

      registrocliente(data){
      console.log("Llegamos al registro cliente" + data.email);
      var loginData ={
         //"id": data.id,
         "email": data.email,
         "password" : data.password,
         "first_name" : data.first_name,
         "last_name" : data.last_name
       };
       this.$.doRegister.body = JSON.stringify(loginData);
       this.$.doRegister.generateRequest();
       console.log("Peticion enviada dm-login " + JSON.stringify(loginData));
       //this.first_name = data.first_name;

      }

      manageAJAXResponseRegister(data){
        console.log("Respuesta recibida manageAJAXResponsess en dm-register ");
        console.log("data.response insertado:" + data);
        console.log("data.response insertado:" + data.detail);
        console.log("data.response insertado:" + data.detail.response);
        console.log("data.response insertado:" + data.detail.response.msg);

        if (data.detail.response.msg == "creadoOK")
        {
        this.dispatchEvent(
        new CustomEvent(
          "myregistereturn",
          {
            "detail" : {
                "existe" : false
            }
          }
        )
        );
        }
        else{
          this.dispatchEvent(
          new CustomEvent(
            "myregistereturn",
            {
              "detail" : {
                  "existe" : true
              }
            }
          )
          );



        }

      }
       showErrorRegister(error){
         console.log("Hubo un error" + error);
         this.dispatchEvent(
         new CustomEvent(
           "myregistereturnerror",
           {
             "detail" : {
               "errorlogin" : true
             }
           }
         )
       );

       }




    }

    window.customElements.define(DmRegister.is, DmRegister);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
