<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../my-app/my-app.html">
<link rel="import" href="../dm-account/dm-account.html">
<link rel="import" href="../ui-movi/ui-movi.html">

<dom-module id="ui-altamovi">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h4><font color="blue">Por favor cree alta su movimiento.</font></h4>
    <h4><font color="blue">Cuenta : {{IBAN}}</font></h4>
  <!--  <output type="iban" placeholder="iban" value="[[IBAN]]"/> -->
    <input type="text" placeholder="concepto" value="{{concepto::input}}"/>
    <input type="date" placeholder="fecha" value="{{fecha::input}}"/>
    <input type="number" placeholder="importe" value="{{importe::input}}"/>

    <button type="button" class="btn btn-primary" on-click="sendAltaMovi">Crear Movimiento</button>
    <button type="button" class="btn btn-primary" on-click="sendEventVolver">Volver</button>

  <!--  <button on-click="sendAltaMovi">Crear Movimiento</button> -->
  <!--   <button on-click="sendEventVolver">Volver</button>-->

    <h4><font color="blue"> {{MENSAJE}} </font></h4>


  </template>

  <script>

    class UiAltamovi extends Polymer.Element {
      static get is() { return 'ui-altamovi'; }
      //Esto es un geter
      static get properties() {
        return {
        };
      }

    altamovi(detail){
      this.concepto = "";
      this.fecha = "";
      this.importe = "";
      this.IBAN = detail;
      this.MENSAJE = "";
    }
    altamoviOK(detail){
      this.MENSAJE = "Movimiento Creado correctamente. ";
    }



      sendAltaMovi(detail){
      console.log ("sendAltaMovisendAltaMovisendAltaMovi" + this.IBAN);

      this.dispatchEvent(
        new CustomEvent(
          "crearmovi",
          {
           "detail" : {
            "iban" : this.IBAN,
            "concepto" : this.concepto,
            "fecha" : this.fecha,
            "importe": this.importe
           }
          }
        )
      );
      }

      sendEventVolver(e){
        console.log("Pulsado el boton Volver");
        this.dispatchEvent(
          new CustomEvent(
            "volverlogin",
            {
             "detail" : {
              "volver" : true

             }
            }
          )
        );

      }




    }
    window.customElements.define(UiAltamovi.is, UiAltamovi);

  </script>
</dom-module>
