<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--indica que es un polymer element -->
<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de usuarios</h2>
    <div class "row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-7">soy botstrap</h3>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="login">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-danger">Logout</button>
    <button class="btn btn-info">Logout</button>
    <span hidden$="{{!logged}}">Bienvenido a casa Miky</span>

    <iron-ajax
    id="doLogin"
    method="POST"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">
  </template>

  <script>
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      //Esto es un geter
      static get properties() {
        return {
            id: {
              type: Number
            },
            first_name: {
              type: String
            },
            last_name: {
              type: String
            },
            email: {
              type: String
            },
            password: {
              type: String
            },
            logged: {
              type: Boolean,
              value: false
            }
        };
      }
      showData(data){
      console.log("showdata");
      console.log(data.detail.response);
      this.first_name = data.detail.response.first_name;
      this.last_name = data.detail.response.last_name;
      this.email = data.detail.response.email;
      }
      login(){
        console.log("boton pulsadoooooooooooooooooooo")
        var loginData ={
          "email": this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibidaaa");
        console.log(data.detail.response);
        this.logged = true;
      }
       showError(){
         console.log("Hubo un error");
         console.log(error);
       }

    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
