<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<!--indica que es un polymer element -->
<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>soy el Receptor de Eventos</h1>
    <h2>Este es el curso {{course}}</h2>
    <h2>en el año {{year}}</h2>
  </template>

  <script>
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course: {
            type : String
          },
          year : {
            type : Number
          }
        }
      };
      showData(data){
        console.log("Datos recibidos en el receptor");
        console.log(data);
        this.course = data.course;
        this.year = data.year;
      }
    }
    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
