<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../my-app/my-app.html">
<link rel="import" href="../dm-account/dm-account.html">

<dom-module id="ui-account">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <h4><font color="blue">{{wellcome}} {{first_name}} {{last_name}} </font></h4>
      <h6><font color="blue">{{mensaje_cuentas}}</font></h6>

      <table class="egt1">
        <tr>
        <h4>  <th WIDTH="300"><font color="blue">IBAN</font></th></h4>
        <h4>  <th WIDTH="150"><font color="blue">SALDO</font></th></h4>
        </tr>
        <tr>
        </tr>
     </table>
      <dom-repeat items="{{accounts}}">
          <template>

            <table class="egt">
              <tr>

              </tr>
              <tr>

         <div><td WIDTH="300" HEIGHT="1"><font color="blue">{{item.iban}}</font> </td> <td WIDTH="150"><font color="blue">{{item.balance}} €</font> </td> <td><button class="btn btn-primary" on-click="selectItem">Movimientos</button></td> <td><button class="btn btn-primary" on-click="sendEventAltaMovi">Alta Movimientos</button></td></div>
       </tr>
     </table>
          </template>
        </dom-repeat>



      <button type="button" class="btn btn-primary" on-click="sendCrearCuenta">Alta Cuenta</button>
        <button type="button" class="btn btn-primary" on-click="sendEventVolver">Salir</button>
    <!--  <button on-click="sendCrearCuenta">Alta Cuenta</button> -->
    <!--     <button on-click="sendEventVolver">Salir</button> -->
      <h4><font color="blue">{{MENSAJE}}</font></h4>

  </template>

  <script>
    class UiAccount extends Polymer.Element {
      static get is() { return 'ui-account'; }
      //Esto es un geter
      static get properties() {
        return {
          last_name: {
            type : String
          },
          first_name:{
            type: String
          }

        };
      }


    accountshow(detail){
    this.mensaje_cuentas = "El listado de sus cuentas, es el siguiente:"
    console.log ("llegan las cuentas al ui-account" + detail);
    console.log ("llegan las cuentas al ui-account" + JSON.stringify(detail));
    this.accounts = detail;
    this.MENSAJE = "";

    }

    cuentasenblanco(detail){
      console.log("cuentas en blanco");
      this.accounts ="";
    }


    mensajedecuentacreada(detail){
      this.MENSAJE = "Cuenta Creada correctamente. ";
    }
  /*  sendEventmovi(){
      console.log("sendEventmovi");
      this.dispatchEvent(
        new CustomEvent(
          "movidecuenta",
          {
           "detail" : {
            "iban" : "22"
           }
          }
        )
      );
    }*/
    sendEventVolver(){
      console.log("sendEventVolversendEventVolversendEventVolver");
      this.dispatchEvent(
        new CustomEvent(
          "volverlogin",
          {
           "detail" : {
            "volver" : true
           }
          }
        )
      );
    }

    selectItem(e){
           console.log("selectItem");
           console.log(e.model.item.iban);
           console.log("sendEventmovi");
           this.dispatchEvent(
             new CustomEvent(
               "movidecuenta",
               {
                "detail" : {
                 "iban" : e.model.item.iban
                }
               }
             )
           );
         }

     sendEventAltaMovi(e){
       this.dispatchEvent(
         new CustomEvent(
           "altamovi",
           {
            "detail" : {
             "iban" : e.model.item.iban

            }
           }
         )
       );
      }

    /*  sendEventAltaCuenta(e){
         console.log("sendEventAltaCuenta " + e.model.item.userid);
        this.dispatchEvent(
          new CustomEvent(
            "altacuenta",
            {
             "detail" : {
              "id" : e.model.item.userid
             }
            }
          )
        );*/

      sendCrearCuenta(e){
        console.log ("IDDDDDD" + this.id);
        this.dispatchEvent(
          new CustomEvent(
            "crearcuenta",
            {
             "detail" : {
              "id" : this.id
             }
            }
          )
        );



      }








    }
    window.customElements.define(UiAccount.is, UiAccount);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
