<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--indica que es un polymer element -->
<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>soy el emisor de eventos</h1>
    <button on-click="sendEvent">No pulsar</button>
  </template>

  <script>
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      //Esto es un geter
      static get properties() {
        return {
        };
      }
      sendEvent(e){
        console.log("Pulsado el boton");
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                "course" : "TechU",
                "year" : 2018
              }
            }
          )
        );
      }

    }
    window.customElements.define(EmisorEvento.is, EmisorEvento);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
