<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../ui-login/ui-login.html">
<link rel="import" href="../ui-account/ui-account.html">
<link rel="import" href="../my-app/my-app.html">

<dom-module id="dm-account">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>


<!--  <dom-repeat items="{{accounts}}">
    <template>
        <div> <input type="checkbox" on-click="sendEventmovi"/> IBAN: {{item.iban}} Saldo: {{item.balance}}</div>
    </template>
  </dom-repeat>  -->


    <iron-ajax
    id="getAccount"
    method="GET"
    url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponseAccount"
    on-error="showErrorAccount">

    <iron-ajax
    id="postAccount"
    method="POST"
    url="http://localhost:3000/apitechu/v3/users/accounts"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponseCreateAccount"
    on-error="showErrorCreateAccount">

  </template>

  <script>
    class DmAccount extends Polymer.Element {
      static get is() { return 'dm-account'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type : Array
          }
        }
      };

      crearcuenta(data){
      console.log("crearcuentacrearcuenta" + data);
      this.id = data;
      //var usuario = JSON.ParseInt("data");
      //console.log("usuariousuariousuario" + usuario);
      var cuenta = Math.round(Math.random()*9999) + " " + Math.round(Math.random()*9999) + " " + Math.round(Math.random()*9999) + " " + Math.round(Math.random()*9999) + " " + Math.round(Math.random()*9999);
      //var cuenta = Math.round(Math.random()*99999999999999999999);

      console.log("aleatorioaleatorioaleatorio " + cuenta);
      var newaccount = {
           "userid": (data * 1),
           "balance" : 0,
           "iban" : cuenta

      };
      this.$.postAccount.body = JSON.stringify(newaccount);
      this.$.postAccount.generateRequest();
      }
      manageAJAXResponseCreateAccount(data){
        console.log("Respuesta recibida manageAJAXResponseCreateAccount");
        this.dispatchEvent(
        new CustomEvent(
          "mycreateaccountreturn",
          {
            "detail" :  {
              respuesta : data.detail.response
            }
          }

        )
        );
      }
      showErrorCreateAccount(error){
        console.log("Error en la creacion.")
      }


      listarcuentas(data){
       console.log("Llegamos al listarcuentas" + data.id);
       this.id = data.id;
       this.$.getAccount.generateRequest();
       console.log("Peticion enviada dm-account ");
       //this.first_name = data.first_name;

      }

      manageAJAXResponseAccount(data){
        console.log("Respuesta recibida manageAJAXResponseAccount en dm-account ");
        this.dispatchEvent(
        new CustomEvent(
          "myaccountreturn",
          {
            "detail" :  {
              respuesta : data.detail.response
              /*"id" : data.detail.response.id,
              "iban" : data.detail.response.iban,
              "userid" : data.detail.response.userid,
              "balance" : data.detail.response.balance*/

            }
          }

        )
        );

      console.log("data.detail.responseeeeeeee  " + JSON.stringify(data.detail.response));
      this.accounts = data.detail.response;
      }
       showErrorAccount(error){
         console.log("Hubo un errorrrrrrrrrrrrrrrrrrrr" + error);
         this.dispatchEvent(
         new CustomEvent(
           "myaccountreturnerror",
           {
             "detail" : {
               "errorlogin" : true
             }
           }
         )
       );

     }











    }

    window.customElements.define(DmAccount.is, DmAccount);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
