<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../ui-login/ui-login.html">
<link rel="import" href="../my-app/my-app.html">
<!--indica que es un polymer element -->
<dom-module id="dm-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--    <h1>Soy el DM Login</h1>
    <h2>Este es el curso {{course}}</h2>
    <h2>en el año {{year}}</h2>
    <h2>Este es el email {{email}}</h2>
    <h2>Este es el password {{password}}</h2>  -->

    <iron-ajax
    id="doLogin"
    method="POST"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponsess"
    on-error="showError">

    <iron-ajax
    id="doVolver"
    method="POST"
    url="http://localhost:3000/apitechu/v4/login"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponsessv4"
    on-error="showErrorv4">

  </template>

  <script>
    class DmLogin extends Polymer.Element {
      static get is() { return 'dm-login'; }
      static get properties() {
        return {
          course: {
            type : String
          },
          year : {
            type : Number
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          first_name:{
            type: String
          }
        }
      };
    /*   showData(data){
        console.log("Datos recibidos en el dmlogin");
        console.log(data);
        this.course = data.course;
        this.year = data.year;
        this.email = data.email;
        this.password = data.password;
      }*/






      showData2(data){
       console.log("EMAILLLLL" + data.email);
       console.log("PASSWODDDD" + data.password);
       var loginData ={
         "email": data.email,
         "password" : data.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
       console.log("Peticion enviada dm-login " + JSON.stringify(loginData));
       //this.first_name = data.first_name;

      }

      manageAJAXResponsess(data){
        console.log("Respuesta recibida manageAJAXResponsess en dm-login ");
        console.log("data.response id:" + data.detail.response.id);
        console.log("data.response first_name: " + data.detail.response.first_name);
        console.log("data.response last_name: " + data.detail.response.last_name);
      //  this.first_name = data.detail.response.first_name;
      //  this.last_name = data.detail.response.last_name;
      //  this.id = data.detail.response.id;
      //  this.logged = true;

        this.dispatchEvent(
        new CustomEvent(
          "myloginreturn",
          {
            "detail" : {
              "first_name" : data.detail.response.first_name,
              "last_name" : data.detail.response.last_name,
              "id" : data.detail.response.id
            }
          }
        )
        );

      }
       showError(error){
         console.log("Hubo un error" + error);
         this.dispatchEvent(
         new CustomEvent(
           "myloginreturnerror",
           {
             "detail" : {
               "errorlogin" : true
             }
           }
         )
       );

       }


/*       sendEvent(){
       this.dispatchEvent(
       new CustomEvent(
         "myloginreturn",
         {
           "detail" : {
             "first_name" : data.detail.response.first_name,
             "last_name" : data.detail.response.last_name,
             "id" : data.detail.id
           }
         }
       )
       );
     } */






    }

    window.customElements.define(DmLogin.is, DmLogin);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
