<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../ui-login/ui-login.html">
<link rel="import" href="../ui-account/ui-account.html">
<link rel="import" href="../my-app/my-app.html">

<dom-module id="dm-altamovi">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>



    <iron-ajax
    id="postMovi"
    method="POST"
    url="http://localhost:3000/apitechu/v3/users/{{id}}/movi"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponseAltamovi"
    on-error="showErrorAltamovi">

  </template>

  <script>
    class DmAltamovi extends Polymer.Element {
      static get is() { return 'dm-altamovi'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type : Array
          }
        }
      };

       altamovi(data){
       console.log("Llegamos al dm altamovi" + data.iban);
       console.log("Llegamos al dm altamovi" + data.concepto);
       console.log("Llegamos al dm altamovi" + data.fecha);
       console.log("Llegamos al dm altamovi" + data.importe);

       var moviData ={
          "iban": data.iban,
          "concepto" : data.concepto,
          "fecha" : data.fecha,
          "importe" : data.importe
        };
        this.$.postMovi.body = JSON.stringify(moviData);
        this.$.postMovi.generateRequest();
      }

      manageAJAXResponseAltamovi(data){
        console.log("Respuesta recibida manageAJAXResponseAccount en dm-movi ");
        this.dispatchEvent(
        new CustomEvent(
          "myaltamovireturn",
          {
            "detail" :  {
                respuesta : data.detail.response
            }
          }

        )
        );
        console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" + JSON.stringify(data.detail.response));
       }

       showErrorAltamovi(error){
         console.log("Hubo un errorrrrrrrrrrrrrrrrrrrrd" + error);
         this.dispatchEvent(
         new CustomEvent(
           "mymovireturnerror",
           {
             "detail" : {
               "errormovi" : true
             }
           }
         )
       );

     }


    }

    window.customElements.define(DmAltamovi.is, DmAltamovi);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
