<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../my-app/my-app.html">
<link rel="import" href="../dm-account/dm-account.html">
<link rel="import" href="../ui-register/ui-register.html">
<!--indica que es un polymer element -->
<dom-module id="ui-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h1><font color="blue">Mikel Maiztegui's APP'</font></h1>
    <h6><font color="blue">Por favor introduzca su email y password: </font></h6>
    <h6><font color="blue">Si no es cliente y quiere registrarse pulse el boton de login </font></h6>
  <input type="email" placeholder="Email" value="{{email::input}}"/>
  <input type="password" placeholder="Password" value="{{password::input}}"/>

  <button type="button" class="btn btn-primary" on-click="sendEvent">Login</button>
<!--  <button on-click="sendEvent">Login</button> -->
<!--  <button id="botonregistarse" on-click="sendEventRegister">Registrarse</button> -->

    <h4><font color="blue">{{first_name}} {{last_name}}</font></h4>
<!--    <h2>Este es el first_name {{last_name}}</h2>
    <h2>Este es el id {{id}}</h2>  -->
    <h4><font color="blue">{{errorlogin}}</font></h4>
  <!--  <span hidden$="{{!logged}}">Usted se ha logado correctamente</span>  -->




<!--    <button on-click="mlogin">mLogin</button>
    <button on-click="login2">Login2</button>  -->
  <!--  <span hidden$="{{!logged}}">Usted se ha logado correctamente</span> -->
  <!--     <iron-ajax
    id="doLogin"
    method="POST"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponsess"
    on-error="showError"> -->


  </template>

  <script>
    class UiLogin extends Polymer.Element {
      static get is() { return 'ui-login'; }
      //Esto es un geter
      static get properties() {
        return {
        };
      }
    //  this.logged = false;

      sendEvent(e){
        sessionStorage.setItem("email", this.email);
        sessionStorage.setItem("password", this.password);


        console.log("Pulsado el boton");
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "mylogin",
            {
              "detail" : {
                "course" : "TechU",
                "year" : 2018,
                "email" : this.email,
                "password" : this.password
              }
            }
          )
        );
      }
      mensajebienvenida(detail){
        console.log("llegamos a la bienvenida");
        this.logged = true;

        this.first_name = "Bienvenido " + detail.first_name + " ";
        this.last_name = detail.last_name;
        this.id = detail.id;
        this.errorlogin = "";

      }

      errorloginmetodo(){
      this.first_name = "";
      this.last_name = "";
      if ((sessionStorage.getItem("email")=="") && (sessionStorage.getItem("password")==""))
      {
          this.errorlogin = "Introduzca los datos para registrarse.";
      }
      else{
      this.errorlogin = "Usuario o password incorrectos, si no es cliente registrese por favor";
      }
      //this.$.uiregister;
      }

  /*    login2(e){
        console.log("login2");
        this.dispatchEvent(
          new CustomEvent(
            "login2",
            {
              "loginData" : {
                "email": "m@m.es",
                "password" : "12"
                }
            }
          )
        );
      }
      mlogin(){
        console.log("mlogin de ui-login")
        var loginData ={
          "email": this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada " + JSON.stringify(loginData));
      }
      manageAJAXResponsess(data){
        console.log("Respuesta recibida manageAJAXResponsess en ui-login ");
        console.log("data.response id:" + data.detail.response.id);
        console.log("data.response first_name: " + data.detail.response.first_name);
        console.log("data.response last_name: " + data.detail.response.last_name);
        this.logged = true;
      }
       showError(){
         console.log("Hubo un error");
         console.log(error);
       } */

/*     sendEventRegister(e){
      console.log("sendEventRegisterrrrrrrrrrrrrrrrrrrrrrrr");


    }*/

    limpiar(e){
     console.log("limpiar ui-login");
     this.email ="";
     this.password ="";
     this.errorlogin="";
   }


    }
    window.customElements.define(UiLogin.is, UiLogin);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
