<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../ui-login/ui-login.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../ui-account/ui-account.html">
<link rel="import" href="../dm-account/dm-account.html">
<link rel="import" href="../ui-movi/ui-movi.html">
<link rel="import" href="../dm-movi/dm-movi.html">
<link rel="import" href="../ui-register/ui-register.html">
<link rel="import" href="../dm-register/dm-register.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../ui-altamovi/ui-altamovi.html">
<link rel="import" href="../dm-altamovi/dm-altamovi.html">
<!--<link rel="import" href="../api-externa/api-externa.html"> -->

<dom-module id="my-app">
<template>


<!--  <template> -->

    <style>
      :host {
        display: block;
      }
    </style>


<!--<api-externa id="apiexterna" on-eventapiexterna="processApiexterna"></api-externa> -->
<dm-login id="receiver" on-myloginreturn="processEventreturn" on-myloginreturnerror="processEventreturnError"></dm-login>
<dm-account id="dmaccount" on-myaccountreturn="processAccountreturn" on-mycreateaccountreturn="processcreateaccount" on-myaccountreturnerror="processmyaccounterror"></dm-account>
<dm-movi id="dmmovi" on-mymovireturn="processmovireturn" ></dm-movi>
<dm-register id="dmregister" on-myregistereturn="processRegistereturn"></dm-register>
<dm-altamovi id="dmaltamovi" on-myaltamovireturn="processMyaltamovireturn"></dm-altamovi>

    <iron-pages selected="[[pageName]]" attr-for-selected="page-name">
      <div page-name="login"><ui-login  id="uilogin" on-mylogin="processEvent"></ui-login></div>
      <div page-name="register"><ui-register id="uiregister" on-volverlogin="processVolverLogin" on-myregister="processEventRegister"></ui-register></div>
      <div page-name="account"><ui-account id="uiaccount" on-volverlogin="processVolverLogin" on-movidecuenta="processmovidecuenta" on-altamovi="processAltamovi" on-crearcuenta="processcrearcuenta"></ui-account></div>
      <div page-name="movi"><ui-movi id="uimovi" on-volveraccount="processVolverAccount"></ui-movi></div>
      <div page-name="altamovi"><ui-altamovi id="uialtamovi" on-volverlogin="processVolverAccount" on-crearmovi="processcrearmovi"></ui-altamovi></div>
  <!--    <div page-name="externa"><api-externa id="apiexterna" on-eventapiexterna="processApiexterna"></api-externa></div> -->
    </iron-pages>

</template>

  <script>


    class MyApp extends Polymer.Element {
      static get is() {
        //console.log("paso1");
        return 'my-app'; }
      static get properties() {
      //console.log("paso2");
        return {
        pageName: {
         type: String,
         value: 'login'
       }
      }
      };



  /*   processApiexterna(e){
       console.log("llegamos hasta aqui");
      // this.pageName = "externa";
       this.$.apiexterna.initMap();
     }*/

      //LOGINNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
      processEvent(e){
        console.log("Evento del emisor capturado" + e.detail);
        console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" + JSON.stringify(e.detail));
        //this.$.receiver.showData(e.detail);
        this.$.receiver.showData2(e.detail);
      }
  /*    processEvent2(e){
          console.log("Pasamos por el evento2" + JSON.stringify(e.loginData));
          this.$.receiver.showData2(e.loginData);
        } */
       processEventreturn(e){
         console.log("Ole Ole y Ole" + e);
         console.log("Ole Ole y Ole" + e.detail);
         console.log("Ole Ole y Ole" + JSON.stringify(e.detail));
         console.log("first_name:    " + e.detail.first_name);
         console.log("last_name:    " + e.detail.last_name);
         console.log("id:    " + e.detail.id);
         //this.$.uilogin.mensajebienvenida(e.detail);
         this.$.uiaccount.wellcome = " Bienvenido ";
         this.$.uiaccount.first_name = e.detail.first_name;
         this.$.uiaccount.last_name = e.detail.last_name;
         this.$.uiaccount.id = e.detail.id;
         //Esta se hace la query que devuelve todas las cuentas
         this.$.dmaccount.listarcuentas(e.detail);
         this.pageName = "account";
       }

       processEventreturnError(e){
        this.$.uilogin.errorloginmetodo(e.detail);
        this.pageName = "register";
        this.$.uiregister.first_name="";
        this.$.uiregister.last_name="";
        this.$.uiregister.email="";
        this.$.uiregister.password="";
        console.log("VIERENESSSSSSSSSSSSSSSSSSSS" + sessionStorage.getItem("email"));
        console.log("VIERENESSSSSSSSSSSSSSSSSSSS" + sessionStorage.getItem("password"));
        if (((sessionStorage.getItem("email" )== "undefined")&&(sessionStorage.getItem("password")== "undefined")) || ((sessionStorage.getItem("email" )== "")&&(sessionStorage.getItem("password")== "")))
        {
          console.log("SABADOOOO");
            this.$.uiregister.errorlogin = "Introduzca los datos para registrarse.";
        }
        else{
        console.log("VIERENESSSSSSSSSSSSSSSSSSSS");
        this.$.uiregister.errorlogin = "Usuario o password incorrectos, si no es cliente registrese por favor";
        }
       }
       //LOGINNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN


       //ACCOUNTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
       processAccountreturn(e){
       //Esta te da el mensaje de bienvenida
       //this.$.uiaccount.accountlist(e.detail);
       //para mostrar las cuentas en pantalla
       console.log("PPPPPPPPPPPPPPP 1" + e );
       console.log("PPPPPPPPPPPPPPP 2" + e.detail);
       console.log("PPPPPPPPPPPPPPP 3" + JSON.stringify(e.detail.respuesta));
       this.$.uiaccount.accountshow(e.detail.respuesta);
       }

      processcrearcuenta(e){
      console.log("zzzzzzz" + e.detail.id );
      this.$.dmaccount.crearcuenta(e.detail.id);

      }

      processcreateaccount(e)
      {

        var data = {
          "email" : sessionStorage.getItem("email"),
          "password" : sessionStorage.getItem("password")

        }
        this.pageName = "account";
        this.$.receiver.showData2(data);

        this.$.uiaccount.mensajedecuentacreada(e);
      }

      processmyaccounterror(e){
        this.$.uiaccount.cuentasenblanco(e);
      }

       //ACCOUNTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT

       //MOVIMIENTOS

      processmovidecuenta(e){
        console.log("MOVIMIENTOSSSSSSSSS1" + e);
        console.log("MOVIMIENTOSSSSSSSSS2" + e.detail);
        console.log("MOVIMIENTOSSSSSSSSS3" + e.detail.iban);
        //this.$.uimovi.cabeceramovi(e.detail);

        this.$.dmmovi.consultamovi(e.detail);
      }
       processmovireturn(e){
         console.log("processmovireturnprocessmovireturnprocessmovireturn " + JSON.stringify(e.detail.respuesta));
         this.pageName = "movi";
         this.$.uimovi.mostrarmovi(e.detail.respuesta);
       }

       processVolverAccount(e){
       //var email =  sessionStorage.getItem("email");
       //var password =  sessionStorage.getItem("password");

       var data = {
         "email" : sessionStorage.getItem("email"),
         "password" : sessionStorage.getItem("password")

       }

       this.pageName = "account";
       this.$.receiver.showData2(data);
       //console.log("paso1zz" + e.detail.email);
       //console.log("paso1zz" + JSON.stringify(e.detail.email));
       //this.$.receiver.showData4(e.detail);
       //this.$.uimovi.mostrarmovi(e.detail.respuesta);
       //this.$.uiaccount.accountshow(e.detail.respuesta);
       //this.$.uimovi.mostrarmovi(e.detail.respuesta);
       console.log("paso2");

       }

        processAltamovi(e){
        console.log("alta movi" + e.detail.iban);
        this.pageName = "altamovi";
        this.$.uialtamovi.altamovi(e.detail.iban);
        }

        processcrearmovi(e)
        {
          console.log("processcrearmovi" + e.detail.iban);
          console.log("processcrearmovi" + e.detail.fecha);
          console.log("processcrearmovi" + e.detail.concepto);
          console.log("processcrearmovi" + e.detail.importe);
          this.$.dmaltamovi.altamovi(e.detail);
        }

       processMyaltamovireturn(e){
       this.pageName ="altamovi";
       this.$.uialtamovi.altamoviOK(e.detail.iban);

       }



       //Registrarse
       processEventRegister(e){
         console.log("REGISTRARSEEEEEEEEEEEEEEEE ");
         //console.log("Id: " + e.detail.id);
         console.log("first_name: " + e.detail.first_name);
         console.log("last_name: " + e.detail.last_name);
         console.log("email: " + e.detail.email);
         console.log("password: " + e.detail.password);
         this.$.dmregister.registrocliente(e.detail);
       }

       processRegistereturn(e){
         console.log("MY APP REGISTERRRR");
         console.log("EXISTEEE: " + e.detail.existe);
         if (e.detail.existe == true)
         {
           this.$.uiregister.emailexistente();
         }
         else {
          this.$.uiregister.emailcorrecto();
         }
       }
       processVolverLogin(e){
        console.log("Pasamos por Volverlogin");
        this.pageName = "login";
        //this.$.errorlogin
        this.$.uilogin.limpiar(e.detail);
        console.log("Pasamos por Volverlogin2");
        sessionStorage.setItem("email", "");
        sessionStorage.setItem("password", "");

       }
    }
    window.customElements.define(MyApp.is, MyApp);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
