<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--indica que es un polymer element -->
<dom-module id="page-notfound">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Aqui no hay nada que ver</h1>
  <!--  <iron-ajax auto=""
    id="getUser"
    url="http://localhost:3000/apitechu/v2/users/{{id}}"
    handle-as="json"
    on-response="showData"> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotfound extends Polymer.Element {
      static get is() { return 'page-notfound'; }
      //Esto es un geter
      static get properties() {
        return {

        };
      }
  /*    showData(data){
      console.log("showdata");
      console.log(data.detail.response);
      this.first_name = data.detail.response.first_name;
      this.last_name = data.detail.response.last_name;
      this.email = data.detail.response.email;

    }*/
    }
    window.customElements.define(PageNotfound.is, PageNotfound);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
