<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../ui-login/ui-login.html">
<link rel="import" href="../ui-account/ui-account.html">
<link rel="import" href="../my-app/my-app.html">

<dom-module id="dm-movi">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>



    <iron-ajax
    id="getMovi"
    method="GET"
    url="http://localhost:3000/apitechu/v2/users/{{id}}/movi"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponseMovi"
    on-error="showErrorMovi">

  </template>

  <script>
    class DmMovi extends Polymer.Element {
      static get is() { return 'dm-movi'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type : Array
          }
        }
      };

       consultamovi(data){
       console.log("Llegamos al dm movi" + data.iban);
       this.id = data.iban;
       console.log("invocamos la query");
       this.$.getMovi.generateRequest();
       console.log("Peticion enviada dm-movi ");
       //this.first_name = data.first_name;
       

      }

      manageAJAXResponseMovi(data){
        console.log("Respuesta recibida manageAJAXResponseAccount en dm-movi ");
        this.dispatchEvent(
        new CustomEvent(
          "mymovireturn",
          {
            "detail" :  {
                respuesta : data.detail.response
            }
          }

        )
        );
        console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" + JSON.stringify(data.detail.response));
       }

       showErrorMovi(error){
         console.log("Hubo un errorrrrrrrrrrrrrrrrrrrrd" + error);
         this.dispatchEvent(
         new CustomEvent(
           "mymovireturnerror",
           {
             "detail" : {
               "errormovi" : true
             }
           }
         )
       );

     }


    }

    window.customElements.define(DmMovi.is, DmMovi);
    //Window es el padre en el que se incrusta el componente "frontproyecto-app" y lo enlaza con la clase FrontproyectoApp
  </script>
</dom-module>
